{% extends 'base.html' %}
{% set active_page = "platform" %}

{% block content %}
<title>Platform List</title>
<table class="table table-hover">
<tr>
    <th>Platform</th>
    <th>Software</th>
    <th>Severity</th>
    <th>Min Cases</th>
</tr>
{% for p in platform_list %}
    <tr>
    {% for i in p.split(',') %}
        <td>{{ i }}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
<p></p>
<p><b>Modify Table</b></p>
<form class="form-group" action ="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>{{ form.platform_file(rows=20, class="form-control") }}</p>
    <p>{{ form.submit(class="form-control-file") }}</p>
</form>
{% endblock %}